@{
    ViewData["Title"] = "最後に";
}

<h2>最後に</h2>

<p>ここまでASP.NET MVCの基礎について学んできました。</p>

<p>実は、この教材の内容はASP.NET MVCで構築されています。<a href="https://github.com/m312u/AspNetMvcTutorial" target="_blank" rel="noopener noreferrer">GitHubのリポジトリ</a>にあるので、興味があればどうぞ。</p>
